@import '../../assets/sass/_index.scss';

.container {
  align-items: center;
  background: linear-gradient(to right, #3780D7, #49CEF9);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
