@mixin button {
  border-radius: $rounded;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}
